<script setup lang="ts">
const props = defineProps<{
  initial: number
}>()

const { count, inc, dec } = useCounter(props.initial)
</script>

<template>
  <div>
    {{ count }}
    <button class="inc" @click="inc()">
      +1
    </button>
    <button class="dec" @click="dec()">
      -1
    </button>
  </div>
</template>
